body{
  text-align:center;
  background-color:#FFEBEE;
}
#MHI{
  border-radius:50%;
  width:150px;
}
#bio{
   background:linear-gradient( #22e07e 0%, #4d85a8 100%);
}
#head1{
  text-shadow:2px 2px #FF5252;  
}
#head2{
  color:#00B8D4;
}
#para{
  color:#6A1B9A;
}